body {
    background-color: white ;
}

.main {
    display: grid;
    grid-template-columns: 20% 26% 26% 28%;
    grid-template-rows: 400px 300px 300px 300px 100px;
    

}

.caja-m {
    border: 2px solid #D8D8D8;
    box-shadow: 5px 5px 5px  #D1D1D1;
}

.banner-recenas {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Nanum Gothic', sans-serif;
    font-size: 40px;
    border: 5px solid black;
    box-shadow: 10px 10px 20px gray;
    background-color: #B7A024;
}

.receña {
    margin-top: 20%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
}


.img-persona-recena {
    height: 80%;
    width: 80%;
    border-radius: 50%;
   
   
}


.img-persona-recena-2 {
    height: 80%;
    border-radius: 100%;
    margin: 0 160px;
}



.img-persona-recena-3 {
    height: 80%;
    width: 80%;
    border-radius: 100%;
}

.receña-texto {
    grid-column: 2/5;
    padding: 20px;
    margin: 50px;
    border-radius: 70px;
    background-color: #F3F4EC;
 
}

.name-receña {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    font-family:'Nanum Gothic', sans-serif;
    color: black;
}

.p-receña {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-family:'Nanum Gothic', sans-serif;;
    color: black
}



@media (max-width: 768px) {

    body {
        background-color: white ;
    }
    
    .main {
        margin-top: 3%;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 300px 350px 340px 350px 340px 350px 340px 100px;
        
    
    }
    
    .caja-m {
        border: 2px solid #D8D8D8;
        box-shadow: 5px 5px 5px  #D1D1D1;
    }
    
    .banner-recenas {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-family:'Nanum Gothic', sans-serif;
        font-size: 27px;
        background-color: gold ;
    }
    
    .receña {
        margin-top: 20%;
        grid-column: 2/4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      
    }
    
    
    .img-persona-recena {
        height: 80%;
        width: 80%;
        border-radius: 100%;
       
       
    }
    
    
    .img-persona-recena-2 {
        height: 80%;
        width: 80%;
        border-radius: 100%;
    }
    
    
    
    .img-persona-recena-3 {
        height: 80%;
        width: 80%;
        border-radius: 100%;
    }
    
    .receña-texto {
        grid-column: 1/5;
        padding: 20px;
        margin: 50px;
        border-radius: 70px;
        background-color: #F3F4EC;
     
    }
    
    .name-receña {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 30px;
        font-family:'Nanum Gothic', sans-serif;
        color: black;
    }
    
    .p-receña {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        font-family:'Nanum Gothic', sans-serif;;
        color: black
    }



}
