
* {
    margin: 0;
}

body {
    background-color: #E0E7EE; /*#2E3440*/
}

.header {
    background-color: black;
    height: 57px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

}
.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0 20px;
    height: 55px;
   
}
.logo-compañia {
    font-size: 15px;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro*/
    text-decoration: none;
    height: 60px;
    color: #f8d653;

}
.nombre-logo {
    font-family:'Nanum Gothic', sans-serif;
    margin-left: 16px; /* Ajusta el margen izquierdo */
}

.nav-menu {
    display: flex;
    margin-right: 10px; /*distancia a la derecha*/
    list-style: none;
    
}

.nav-menu-item {
  font-size: 12px;
    margin: 0 10px;
    line-height: 56px;
    text-transform: uppercase; /*mayuscula*/
    width: max-content; /*no permite saltos entre linea*/
}

.nav-menu-link {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 8px 12px; /*8 de alto y 12 de ancho*/
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: darkgoldenrod;
    transition: 0.5s;
}

.inicio {
    display: grid;
   grid-template-columns: 30% 33% 37% 40%;
   grid-template-rows: 300px 390px 160px 600px 70px 30px;
   }


.img-fondo {
    grid-column: 1/4;
    border: 5px solid black;
    box-shadow: 10px 10px 20px gray;
}

.div-img-fondo {
    height: 100%;
    width: 100%;
}



.caja {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    
   
}

.div-img {
    grid-column: 1/2;
    margin-top: 20%;
    margin-left: 20%;
    background-color: #C4CBCB ;
    border-radius: 40px;
    box-shadow: 10px 10px 20px gray;
}

.img-reparacion {
    margin-top: 30px;
    margin-left: 30%;
    height: 80%;
    width: 90%;
    border-radius: 40px;
    box-shadow: 10px 30px 20px gray;
   
 
}
.inicio-descricion {
    
    margin: 4%;
    margin-top: 8%;
    margin-left: 15%;
    grid-column: 2/4;
    border: 1px solid #C4CBCB;
    border-radius: 40px;


}


.inicio-subtitle {
    color: black;
    font-size: 2rem;
    padding: 30px;
    

}

.p-descripcion {
    padding: 15px;
    font-size: 20px ;
    color: black;
}


#palabraColorida {
    color: gold; 
}
 #palabraColorida-2 {
    color: black;
    font-weight: bold;
 }


.inicio-subtitle-2 {
    grid-column: 1/4;
    margin-top: 90px;
    background-color: #8D8F8F ;
    color: black;
    box-shadow: 20px 20px 20px gray;
}

.subtitle-2 {
    padding: 16px;
    font-size: 2rem;
}

.div-boton {
    margin-top: 7%;
}

.boton {
    border: 1px solid gold; 
    padding: 20px; 
    background-color: gold; 
    color: black; 
    font-weight: bold;
    text-decoration: none; 
    text-transform: uppercase;
    border-radius: 100px; 
}

.boton:hover {
    color:white;
}

.inicio-2-diagnostico {
    grid-column: 1/2;
    padding-top: 35%;
    margin-top: 30%;
    font-size: 30px;
    color: gold;
}

.inicio-img-reparacion  {
    margin-top: 13%;
    grid-column: 2/3;
    
    

}


.inicio-2-garantia {
    margin-top: 20%;
    grid-column: 3/4;
    padding-top: 35%;
    font-size: 30px;
    color: gold;
}



.img-reparacion-3 {
    
    border-radius: 50px;
    border: 3px solid gold;
    height: 100%;
    padding: 3px;
    margin-left: 22%;
   
}



.red {
    font-family: 'Nanum Gothic', sans-serif;;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   margin: 12px;


}

.correo {
   text-transform: lowercase;
   text-decoration: none;
   color:#D1C747 

}

.redes-sociales {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #CECDC8;

}







@media (max-width: 768px) {
    body {
        background-color: #E0E7EE;
    }


    .header {
        background-color: black;
        display: flex;
        height: auto;
        overflow: auto;
        flex-wrap: wrap;
        width: 100vw;
        top: 0;
        left: 0;
    }
    .nav {
        background-color: black;
    
        margin: 0 auto;
   
      
    
    }
    .nav-link {
        color: white;
        text-decoration: none;
    }
    
    .logo {
        padding: 0 20px;
        height: 55px;
       
    }
    .logo-compañia {
        font-size: 15px;
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos al centro*/
        text-decoration: none;
        height: 100%;
        color: #f8d653;
    
    }

    
    .nombre-logo {
        margin-left: -4px; /* Ajusta el margen izquierdo */
        width: max-content;
    
    }
    
    
    .nav-menu {
        display: flex;
        justify-content: center;
      flex-wrap: wrap;
    
    }

.nav-menu-item {
  font-size: 12px;
    margin: 0 10px;
    line-height: 45px;
    text-transform: uppercase; /*mayuscula*/
    width: max-content; /*no permite saltos entre linea*/
}

.nav-menu-link {
    padding: 8px 12px; /*8 de alto y 12 de ancho*/
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: darkgoldenrod;
    transition: 0.5s;
}

.inicio {
    display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 250px 400px 430px 250px 200px 450px 300px;
}
   

.img-fondo {
    margin-top: 15%;
    grid-column: 1/5;
    border: 5px solid black;
    box-shadow: 10px 10px 20px gray;
}

.div-img-fondo {
    height: 100%;
    width: 100%;
}



.caja {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    
   
}

.div-img {
    grid-column: 1/4;
    margin-top: 20%;
    margin-left: 20%;
    background-color: #C4CBCB ;
    border-radius: 40px;
    box-shadow: 10px 10px 20px gray;
}

.img-reparacion {
    margin-top: 30px;
    margin-left: 30%;
    height: 80%;
    width: 90%;
    border-radius: 40px;
    box-shadow: 10px 30px 20px gray;
   
 
}
.inicio-descricion {
    margin: 3%;
    padding: 5%;
    margin-top: 20%;
    grid-column: 1/5;
    border: 1px solid #C4CBCB;
    border-radius: 40px;


}


.inicio-subtitle {
    color: black;
    font-size: 2rem;
    padding: 30px;
    

}

.p-descripcion {
    padding: 15px;
    font-size: 20px ;
    color: black;
}


#palabraColorida {
    color: gold; 
}
 #palabraColorida-2 {
    color: black;
    font-weight: bold;
 }


.inicio-subtitle-2 {
    grid-column: 1/5;
    margin-top: 30%;
    background-color: #8D8F8F ;
    color: black;
    box-shadow: 20px 20px 20px gray;
}

.subtitle-2 {
    padding: 16px;
    font-size: 2rem;
}

.div-boton {
    margin-top: 7%;
}

.boton {
    border: 1px solid gold; 
    padding: 20px; 
    background-color: gold; 
    color: black; 
    font-weight: bold;
    text-decoration: none; 
    text-transform: uppercase;
    border-radius: 100px; 
}

.boton:hover {
    color:white;
}

.inicio-2-diagnostico {
   grid-column: 1/5;
margin-top: -100px;
    
}

.inicio-2-diagnostico:hover {
    color: black;
}

.inicio-img-reparacion  {
    grid-column: 1/5;
    margin-right: 90px;
    

}


.inicio-2-garantia {
   grid-column: 1/5;
   margin-top: -60px;
    
}

.inicio-2-garantia:hover {
    color: black;
}



.img-reparacion-3 {
    
    border-radius: 50px;
    border: 3px solid gold;
    height: 100%;
   
}




.red {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
 
 
 }
 
 .correo {
    text-transform: lowercase;
    text-decoration: none;
    color:#B7A024 
 
 }
 
 .redes-sociales {
     display: flex;
     justify-content: center;
     position: fixed;
     width: 100%;
     bottom: 0;
     background-color: #CECDC8;
 
 }


}