* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Nanum Gothic', sans-serif;

}

body {
  background-image: url(../images/fondo-login.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



.header {
  display: flex;
  flex-direction: column;
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  top: 0;
  left: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

}
.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  padding: 0 20px;
  height: 55px;
 
}
.logo-compañia {
  font-size: 15px;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos al centro*/
  text-decoration: none;
  height: 60px;
  color: #f8d653;

}
.nombre-logo {
  font-family:'Nanum Gothic', sans-serif;
  margin-left: 16px; /* Ajusta el margen izquierdo */
}

.nav-menu {
  display: flex;
  margin-right: 10px; /*distancia a la derecha*/
  list-style: none;
  
}

.nav-menu-item {
font-size: 12px;
  margin: 0 10px;
  line-height: 56px;
  text-transform: uppercase; /*mayuscula*/
  width: max-content; /*no permite saltos entre linea*/
}

.nav-menu-link {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 8px 12px; /*8 de alto y 12 de ancho*/
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: darkgoldenrod;
  transition: 0.5s;
}

/*main*/

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor-todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;

}

.caja-trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(235, 204, 28, 0.5);
}

.caja-trasera div {
  margin: 100px 40px;
  color:rgb(6, 6, 6);
  transition: all 500ms;
}

.caja-trasera div p, 
.caja-trasera div button {
  margin-top: 30px;
}

.caja-trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja-trasera button{
  padding: 10px 40px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;

}

.caja-trasera button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/*formularios*/

.contenedor-login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}



.contenedor-login-register div{
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;

}

.contenedor-login-register div h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #030303;
}

.contenedor-login-register div input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor-login-register div button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background:rgba(214, 186, 30, 0.962);
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
}





.formulario-login {
  opacity: 1;
  display: block;
}

.formulario-register {
  display: none;
}

/*resposive*/

@media (max-width: 850px){


  .header {
    background: transparent;
    backdrop-filter: blur(7px);
    display: flex;
    height: auto;
    overflow: auto;
    flex-wrap: wrap;
    width: 100vw;
    top: 0;
    left: 0;
}
.nav {
    margin: 0 auto;

  

}
.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0 20px;
    height: 55px;
   
}
.logo-compañia {
    font-size: 15px;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro*/
    text-decoration: none;
    height: 100%;
    color: #f8d653;

}


.nombre-logo {
    margin-left: -4px; /* Ajusta el margen izquierdo */
    width: max-content;

}


.nav-menu {
    display: flex;
    justify-content:end;
  flex-wrap: wrap;

}

.nav-menu-item {
font-size: 12px;
margin: 0 10px;
line-height: 45px;
text-transform: uppercase; /*mayuscula*/
width: max-content; /*no permite saltos entre linea*/
}

.nav-menu-link {
padding: 8px 12px; /*8 de alto y 12 de ancho*/
border-radius: 3px;
}

.nav-menu-link:hover {
background-color: darkgoldenrod;
transition: 0.5s;
}



  main {
    margin-top: 50px;
  }

  .caja-trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja-trasera div {
    margin:0;
    position: absolute;

  }


  /*formularios*/

  .contenedor-login-register {
    top: -10px;
    left: -5px;
    margin: auto;

  }

  .contenedor-login-register div {
    position: relative;
  }



}