*{
    margin:0;
}

body {
    background-color: #E0E7EE ;
}


.main { 
    display: grid;
    grid-template-columns: 30% 33% 33%;
    grid-template-rows: 180px 400px 400px 400px 400px 400px;
    margin: 5%;
    justify-content: center;
    margin-top: 5%;
    width: 90%;

    
}

.caja-s {
    margin: 20px;
   
}

.title-servicios {
    grid-area: 1/1/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px; 
    width: 100%;
}

.h1-servicios {
    color: #E9BC1C;
    font-family: 'Nanum Gothic', sans-serif;
}



.title-servs {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 20px;
}


.div-ser-1 {
    grid-column: 1/2;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-1 {
    grid-column: 2/4;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    

}



.div-ser-2 {
    grid-column: 1/2;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-2 {
    grid-column: 2/4;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}



.div-ser-3 {
    grid-column: 1/2;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
    
}

.texto-ser-3 {
    grid-column: 2/4;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}


.div-ser-4 {
    grid-column: 1/2;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-4 {
    grid-column: 2/5;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}



.div-ser-5 {
    grid-column: 1/2;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-5 {
    grid-column: 2/4;
   font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
}


.img-servicios {
    height: 85%;
    width: 80%;
    margin-left: 23%;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 10px gray;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
}



@media (max-width: 768px){

.main{
    display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 250px 350px 400px 350px 400px 350px 400px 
   350px 400px 350px 400px;
}



.title-servicios {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px; 
    width: 100%;
}


.h1-servicios {
    font-family: 'Nanum Gothic', sans-serif;
    color: #E9BC1C;
}



.title-servs {
    margin: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}


.div-ser-1 {
    grid-column: 1/4;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-1 {
    grid-column: 1/5;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    

}



.div-ser-2 {
    grid-column: 1/4;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-2 {
    grid-column: 1/5;
    font-size: 20px;
    padding: 5%;
    margin: 90px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}



.div-ser-3 {
    grid-column: 1/4;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
    
}

.texto-ser-3 {
    grid-column: 1/5;
    font-size: 20px;
    padding: 5%;
    margin: 80px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}


.div-ser-4 {
    grid-column: 1/4;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-4 {
    grid-column: 1/5;
    font-size: 20px;
    padding: 5%;
    margin: 80px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
    
}



.div-ser-5 {
    grid-column: 1/4;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px gray;
}

.texto-ser-5 {
    grid-column: 1/5;
   font-size: 20px;
    padding: 5%;
    margin: 80px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid gray;
}


.img-servicios {
    height: 85%;
    width: 80%;
    margin-left: 40%;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 10px gray;
}

p {
    padding: 5px;
    font-family: 'Nanum Gothic', sans-serif;
}





}